h1 { text-align: center; }
.conftitle, .booktitle, .jtitle { font-style: italic; }
.abstract { font-size: smaller; margin-left: 20pt; margin-right: 20pt; }
.abshead { margin: 0pt; }
.abstext p { text-indent: 20pt; margin: 0pt; }
.abstext p:first-child { text-indent: 0pt; }
.comment { margin: 0pt; }
.commenter { font-weight: bold; }
.citelist { font-size: 50%; }
.citelist p { margin: 0pt; }
li { margin-bottom: 10pt; }
.citelist li { margin-bottom: 0pt; }

/* arch-tag: e0d79549-c17d-4d7c-bf00-1bd8c0e779fa
   */
